html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 101vh; /* Ensures the minimum height of the body is at least the height of the viewport */
  overflow-y:scroll; /* Ensures vertical scrolling is enabled */
}